<web-app>

  <display-name>Unihub</display-name>

  <!-- Andy's Mappings ################################################### -->
  <servlet>
    <servlet-name>login</servlet-name>
    <jsp-file>WEB-INF/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login-form</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>response_result</servlet-name>
    <jsp-file>andy/response_output.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>response_result</servlet-name>
    <url-pattern>/response</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>events</servlet-name>
    <jsp-file>andy/events.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>events</servlet-name>
    <url-pattern>/events</url-pattern>
  </servlet-mapping>

  <!-- End of Andy's Mappings ############################################## -->

  <!-- Yulle's Mappings #################################################### -->

  <servlet>
    <servlet-name>amazon</servlet-name>
    <servlet-class>com.unihub.app.Amazon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>amazon</servlet-name>
    <url-pattern>/amazon</url-pattern>
  </servlet-mapping>

  <!-- End of Yulle's Mappings ############################################# -->

  <!-- Mark's Mappings ######################################################-->

  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <jsp-file>mark/profile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>signup</servlet-name>
    <jsp-file>mark/signup.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>pmessage</servlet-name>
    <jsp-file>mark/pmessage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>pmessage</servlet-name>
    <url-pattern>/pmessage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>usermessages</servlet-name>
    <jsp-file>mark/usermessages.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>usermessages</servlet-name>
    <url-pattern>/usermessages</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>allusers</servlet-name>
    <jsp-file>mark/allusers.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>allusers</servlet-name>
    <url-pattern>/allusers</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>auser</servlet-name>
    <jsp-file>mark/user.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>auser</servlet-name>
    <url-pattern>/auser</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>com.unihub.app.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/createuser</url-pattern>
  </servlet-mapping>

  <!-- End of Mark's Mappings ###############################################-->

<display-name>Unihub</display-name>

<!-- Andy's Mappings ################################################### -->
<servlet>
  <servlet-name>login</servlet-name>
  <jsp-file>andy/login.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>login</servlet-name>
  <url-pattern>/login</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>response_result</servlet-name>
  <jsp-file>andy/response_output.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>response_result</servlet-name>
  <url-pattern>/response</url-pattern>
</servlet-mapping>

<!-- was my old url mapping for Response.java
<servlet>
  <servlet-name>Response</servlet-name>
  <servlet-class>com.unihub.app.Response</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>Response</servlet-name>
  <url-pattern>/le_test</url-pattern>
</servlet-mapping>
-->
<!-- End of Andy's Mappings ############################################## -->

<!-- Yulle's Mappings #################################################### -->

<servlet>
  <servlet-name>amazon</servlet-name>
  <servlet-class>com.unihub.app.Amazon</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>amazon</servlet-name>
  <url-pattern>/amazon</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>amazonSearch</servlet-name>
  <jsp-file>yulle/amazonSearch.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>amazonSearch</servlet-name>
  <url-pattern>/amazonSearch</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>searchHistory</servlet-name>
  <jsp-file>yulle/searchHistory.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>searchHistory</servlet-name>
  <url-pattern>/searchHistory</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>bookNotFound</servlet-name>
  <jsp-file>yulle/bookNotFound.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>bookNotFound</servlet-name>
  <url-pattern>/bookNotFound</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>gsearch</servlet-name>
  <jsp-file>yulle/search.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>gsearch</servlet-name>
  <url-pattern>/gsearch</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>searchServlet</servlet-name>
  <servlet-class>com.unihub.app.SearchServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>searchServlet</servlet-name>
  <url-pattern>/searchServlet</url-pattern>
</servlet-mapping>

<!-- End of Yulle's Mappings ############################################# -->

<!-- Mark's Mappings ######################################################-->

<servlet>
  <servlet-name>profile</servlet-name>
  <jsp-file>mark/profile.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>profile</servlet-name>
  <url-pattern>/profile</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>signup</servlet-name>
  <jsp-file>mark/signup.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>signup</servlet-name>
  <url-pattern>/signup</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>CreateUserServlet</servlet-name>
  <servlet-class>com.unihub.app.CreateUserServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>CreateUserServlet</servlet-name>
  <url-pattern>/createuser</url-pattern>
</servlet-mapping>

<!-- End of Mark's Mappings ###############################################-->


<!-- Delvison's Mappings ##################################################-->
<servlet>
  <servlet-name>
  HomeServlet</servlet-name>
  <servlet-class>com.unihub.app.HomeServlet</servlet-class>
</servlet>

<servlet>
  <servlet-name>google</servlet-name>
  <jsp-file>delvison/google.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>google</servlet-name>
  <url-pattern>/google.jsp</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>cookieform</servlet-name>
  <jsp-file>delvison/cookieform.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>cookieform</servlet-name>
  <url-pattern>/cookieform.jsp</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>setcookie</servlet-name>
  <servlet-class>com.unihub.app.LocationServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>setcookie</servlet-name>
  <url-pattern>/setcookie.jsp</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>home</servlet-name>
  <jsp-file>delvison/home.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>home</servlet-name>
  <url-pattern>/home</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>createform</servlet-name>
  <jsp-file>delvison/createpost.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>createform</servlet-name>
  <url-pattern>/createpost</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>header</servlet-name>
  <jsp-file>delvison/header.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>header</servlet-name>
  <url-pattern>/header</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>ListingsServlet</servlet-name>
  <servlet-class>com.unihub.app.ListingsServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>ListingsServlet</servlet-name>
  <url-pattern>/createlisting</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>ViewListingsServlet</servlet-name>
  <jsp-file>delvison/viewall.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>ViewListingsServlet</servlet-name>
  <url-pattern>/viewalllistings</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>ValidateUserServlet</servlet-name>
  <servlet-class>com.unihub.app.ValidateUserServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>ValidateUserServlet</servlet-name>
  <url-pattern>/validate</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>notloggedin</servlet-name>
  <jsp-file>delvison/notloggedin.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>notloggedin</servlet-name>
  <url-pattern>/sorry</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>ItemServlet</servlet-name>
  <servlet-class>com.unihub.app.ItemServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>ItemServlet</servlet-name>
  <url-pattern>/item</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>item</servlet-name>
  <jsp-file>delvison/item.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>item</servlet-name>
  <url-pattern>/item</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>PopUni</servlet-name>
  <servlet-class>com.unihub.app.GetUniServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>PopUni</servlet-name>
  <url-pattern>/populateUniversities</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>Addcomment</servlet-name>
  <servlet-class>com.unihub.app.CommentServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>Addcomment</servlet-name>
  <url-pattern>/addcomment</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>editItem</servlet-name>
  <jsp-file>delvison/editItem.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>editItem</servlet-name>
  <url-pattern>/editItemjsp</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>edititem</servlet-name>
  <servlet-class>com.unihub.app.EditItemForwardServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>edititem</servlet-name>
  <url-pattern>/edititem</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>bidServlet</servlet-name>
  <servlet-class>com.unihub.app.BidServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>bidServlet</servlet-name>
  <url-pattern>/addbid</url-pattern>
</servlet-mapping>

<!-- End of Delvison's Mappings ########################################## -->

</web-app>
